<div class="container pt-3">
  <h1>My Personal Home Page</h1>
  <p>You can read more about me, or checkout my blog</p>
  <%= link_to 'About', about_path, class: "btn btn-secondary" %>
  <%= link_to 'Blog', posts_path, class: "btn btn-primary" %>
</div>
